<% if ( success.length > 0 ) { %>
    <div class="alert alert-success"><%= success %></div>
<% } %>

<div class="jumbotron text-center">
    <h2><%= blog.name + ' '%><%= blog.lastname %></h1>
    <h1><%= blog.title %></h1>
    <p><%= blog.description %></p>
    <h6><%= blog.date %></h6>
</div>